body{
  background:#12001f;
  color:white;
  font-family:Arial;
  text-align:center;
}
.logo{width:90px}
.banner{width:95%;border-radius:15px}
.product{background:#2a0140;margin:10px;padding:15px;border-radius:12px}
button{background:#7c00ff;color:white;border:none;padding:8px 15px;border-radius:8px}
input{padding:8px;border-radius:6px;border:none}
